a {
    color: var(--clr-link);
    text-decoration: none;
}

a:hover {
    color: var(--clr-active);
    transition-duration: 0.25s;
}

a:active {
    color: var(--clr-events-dark);
}

li a {
    color: var(--clr-darkblue);
}

li a:hover {
    border-bottom: 2px solid var(--clr-active);
}

.active {
    color: var(--clr-active);
    border-bottom: 2px solid var(--clr-active);
}

.cta {
    background: var(--clr-darkblue);
    color: var(--clr-white);
    border: 2px solid var(--clr-darkblue);
    border-radius: 5px;
    padding: 11px 30px;
    text-transform: uppercase;
    text-align: center;
    font-family: var(--ff-header);
    font-weight: 500;
    font-size: 1rem;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.cta-execute {
    background: var(--clr-about);
}

.cta:hover {
    background: var(--clr-white);
    color: var(--clr-darkblue);
    transition-duration: 0.5s;
}

.cta:active {
    background: var(--clr-events-dark);
    color: var(--clr-darkblue);
}