:root {
    /* Font family */
    --ff-heading: 'Ubuntu', sans-serif;
    --ff-body: 'Source Sans Pro', sans-serif;
    
    /* Font size */

    --fs-100: 0.7rem;
    --fs-200: 0.8rem;
    --fs-300: 1rem;
    --fs-400: 1.25rem;
    --fs-500: 1.5rem;
    --fs-600: 2rem;
    --fs-700: 2.4rem;
    --fs-800: 3rem;
    --fs-900: 3.8rem;
    
    --fs-body: var(--fs-300);
    --fs-primary-heading: var(--fs-800);
    --fs-secondary-heading: var(--fs-600);
    --fs-third-heading: var(--fs-400);
    --fs-nav: var(--fs-400);

    /* Font weight */
    --fw-bold: 700;
    --fw-semi-bold: 500;
    --fw-regular: 400;
    --fw-thin: 300;
    

    /* Colors */
    --clr-white: #FBFCFD;
    --clr-grey: #F1F2F4;
    --clr-darkblue: #00101C;
    --clr-lightblue: #E3F1FF;
    --clr-visit: #8B6DD9;
    --clr-exhibits: #187B75;
    --clr-events: #114570;
    --clr-about: #B44F7F;
    --clr-get-involved: #7A9796;
    --clr-link: #4A1C03;
    --clr-active: #4E7795;

    /* Sizes */
    --size-100: 10px;
    --size-200: 20px;
    --size-300: 30px;
    --size-400: 50px;
    --size-500: 60px;
    --size-600: 70px;
    --size-700: 100px;
    --size-800: 200px;
}

