.contact-heading {
    text-shadow: 4px 4px 4px rgba(0, 16, 28, 0.25);
    filter: drop-shadow(4px 4px 4px rgba(0, 16, 28, 0.25));
}

.contact-form h2, .contact-validation {
    text-align: center;
}

.contact-form h3 {
    font-size: 1rem;
}

.contact-form__box {
    border: 2px solid #00101C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 30px;
    gap: 30px;
}

.contact-form__information, .contact-form__message {
    padding: 0px;
}

.contact-form__information, .contact-form__message {
    gap: 5px;
}

textarea {
    min-height: 145px;
}

.subscribe-label {
    font-size: 0.8rem;
}

.contact-form button {
    margin-top: 5px;
}

.contact-validation h2 {
    margin-bottom: 20px;
}

.contact-validation__action {
    margin-top: 70px;
}

.contact-validation p {
    max-width: 350px;
}