/* EVENTS PAGE */

.events-heading {
    color: var(--clr-events);
    text-shadow: 4px 4px 4px rgba(17, 69, 112, 0.25);
    filter: drop-shadow(4px 4px 4px rgba(17, 69, 112, 0.25));
}

.birthdays__wrapper {
    align-items: center;
}

.birthdays__wrapper {
    gap: var(--size-400);
}

.birthdays-image {
    padding-inline: var(--size-200);
}

.birthdays-info {
    gap: var(--size-100);
}

#energetica h3 {
    color: var(--clr-energetica);
}

#holiday-club h3 {
    color: var(--clr-holiday-club);
}

#energetica img, .birthdays img {
    transform: rotate(-10deg);
}

#holiday-club img {
    transform: rotate(10deg);
    box-shadow: 15px 15px 0px var(--clr-holiday-club);
}

#energetica img {
    box-shadow: -15px 15px 0px var(--clr-energetica);
}

.birthdays {
    background: rgba(52, 161, 246, 0.6);
    padding: 100px 0px;
}

.birthdays img {
    box-shadow: -15px -15px 0px #FCB4FD;
    max-width: 300px;
    max-height: 300px;
}