/* EXHIBITS PAGE */

.exhibits-heading {
    text-shadow: 4px 4px 4px rgba(24, 123, 117, 0.25);
    filter: drop-shadow(4px 4px 4px rgba(24, 123, 117, 0.25));
}

.exhibits-heading, #biology h3 {
    color: var(--clr-exhibits);
}

#evolution {
    background: var(--clr-exhibits);
}

#evolution h3, #evolution p {
    color: var(--clr-white);
}

