/* HOME PAGE */

.home-intro {
    text-align: center;
}

.home-intro h1 {
    background: linear-gradient(90.42deg, #004376 1.56%, rgba(0, 67, 118, 0.7) 101.14%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-shadow: 4px 4px 4px rgba(0, 67, 118, 0.25);
}

.home-intro h1, .featured h2, .young-stars h2, .upcoming h2 {
    margin-bottom: 20px;
}

.home-intro p {
    max-width: 500px;
    margin: auto;
}

.home-image {
    background: url(../images/astronaut_colors.jpg);
    min-height: 20vh;
    background-size: cover;
    background-position: center top;
    padding: 100px 0px;
}

.featured h2 {
    color: var(--clr-exhibits);
}

.young-stars {
    background: linear-gradient(99.96deg, #002C50 -13.68%, #00203A 100%);
    color: var(--clr-white);
}

.young-stars h2 {
    background: linear-gradient(90deg, #E0B300 -3.28%, #B79200 110.3%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-align: center;
}

.young-stars p {
    margin: 10px auto;
    max-width: 500px;
}

.upcoming h2 {
    color: var(--clr-events-dark);
}

.visit-today {
    background: linear-gradient(181.11deg, rgba(0, 52, 95, 0.71) 0.95%, rgba(251, 252, 253, 0.71) 88.76%);
}

.visit-today__info {
    flex-direction: column-reverse;
    align-items: center;
    gap: 50px;
}

.visit-today__info img {
    border-radius: 10px;
}

.visit-today__text {
    gap: 20px;
    text-align: center;
    min-width: 210px;
    max-width: 250px;
}

.visit-today__info img {
    max-width: 500px;
}