/* HOME PAGE */

.home-intro {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/astronaut_colors.jpg);
    min-height: 80vh;
    background-size: cover;
    background-position: center top;
    color: var(--clr-lightblue);
    margin-top: 0px;
}

.home-intro, .young-stars {
    justify-content: center;
}

.home-intro__wrapper {
    gap: var(--size-200);
} 

.home-intro__wrapper, .visit-today__content {
    text-align: center;
}

.home-intro__wrapper, .young-stars, .visit-today__wrapper {
    align-items: center;
}

.home-intro__wrapper p {
    max-width: 400px;
}

.home-image__wrapper {
    background: url(../images/astronaut_colors.jpg);
    background-size: cover;
    background-position: center top;
}

.home-image__wrapper, .young-stars {
    min-height: 50vh;
}

.young-stars {
    background: linear-gradient(99.96deg, #002C50 -13.68%, #00203A 100%);
    color: var(--clr-white);
}

.young-stars h2 {
    background: linear-gradient(90deg, #E0B300 -3.28%, #B79200 110.3%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.young-stars__wrapper {
    gap: var(--size-200);
}

.young-stars__content {
    max-width: 490px;
}

.young-stars__content, .visit-today__content {
    gap: var(--size-100);
}

.visit-today {
    background: linear-gradient(181.11deg, rgba(0, 52, 95, 0.71) 0.95%, rgba(251, 252, 253, 0.71) 88.76%);
}

.visit-today__wrapper {
    gap: var(--size-400);
    padding-top: var(--size-700);
}

.visit-today__content {
    max-width: 250px;
}

.visit-today__wrapper img {
    border-radius: 10px;
    max-width: 500px;
}