@media (min-width: 600px) {
    section {
        padding: 100px 0px;
    }

    .container {
        flex-direction: row;
        gap: 100px;
        align-items: center;
    }

    .container > * {
        flex: 1;
    }

    .upcoming-events {
        align-items: unset;
    }

    .reverse {
        flex-direction: row-reverse;
    }

    .home-image {
        height: 40vh;
    }

    .home-intro {
        margin: auto;
        text-align: center;
    }

    .upcoming {
        padding-bottom: 200px;
    }

    .visit-us {
        min-height: 30vh;
    }

    .visit-us__info {
        top: 80px;
    }


}

@media (min-width: 900px) {

    header {
        grid-template-columns: 1fr auto;
        align-items: end;
    }

    header label {
        display: none;
    }

    nav {
        display: block;
        position: static;
        border-radius: 0px;
        padding: 0px;
    }

    nav li {
        display: inline-block;
        font-size: 1rem;
        padding: 0px 10px;
        min-width: unset;
    }

    .home-image {
        height: 50vh;
    }

    footer {
        grid-template-columns: repeat(3, 1fr);
        padding-top: 100px;
    }

    .footer-bottom {
        grid-column: -1/1;
    }

    .footer-info {
        flex-direction: row;
        align-items: flex-start;
        
    }

    .footer-info > * {
        flex: 1;
    }

}

@media (min-width: 1200px) {

    h1 {
        font-size: 3.8rem;
    }

    h2 {
        font-size: 2.4rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1.25rem;
    }

    nav li {
        font-size: 1.25rem;
    }

    header img {
        width: 200px;
    }

    .home-image {
        height: 60vh;
    }

    .home-intro {
        max-width: 570px;
    }

    .visit-us {
        min-height: 40vh;
    }

    .visit-us__info {
        top: 150px;
    }
}