@media (min-width: 600px) {
   section {
        padding: 150px 0px;
    }
    
    .split {
        flex-direction: row;
        align-items: center;
    }

    .split > * {
        flex: 1;
    }

    .exhibits-item__info {
        padding: 0px 30px;
    }

    .exhibits-item img {
        border-radius: 10px 0px 0px 10px;
    }

    .robotics img {
        border-radius: 0px 10px 10px 0px;
    }

    .robotics {
        flex-direction: row-reverse;
    }

   

    .visit-today .split {
        flex-direction: unset;
    }



}

@media (min-width: 900px) {

    header {
        grid-template-columns: 1fr auto;
        align-items: end;
    }

    header label {
        display: none;
    }

    nav {
        display: block;
        position: static;
        border-radius: 0px;
        padding: 0px;
    }

    nav li {
        display: inline-block;
        font-size: 1rem;
        padding: 0px 15px;
        min-width: unset;
    }
    /*
    footer {
        grid-template-columns: repeat(2, 1fr);
        padding-top: 100px;
    }

    .footer-bottom {
        grid-column: -1/1;
    }

    .footer-info {
        flex-direction: row;
        align-items: flex-start;
        
    }

    .footer-info > * {
        flex: 1;
    }*/

    


}

@media (min-width: 1200px) {

    h1 {
        font-size: 3.8rem;
    }

    h2 {
        font-size: 2.4rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1.25rem;
    }

    footer p {
        font-size: 1rem;
    }

    nav li {
        font-size: 1.25rem;
    }

    footer li {
        font-size: 1rem;
    }

    header img {
        width: 200px;
        top: 150px;
    }

   

    
/*
    .wrapper {
        max-width: 950px;
    }   */

    }
