@media (min-width: 600px) {
   section, article, .home-image {
        padding: 150px 0px;
    }
    
    .split {
        flex-direction: row;
    }

    .exhibits {
        gap: 80px;
    }

    .exhibits-item > * {
        flex: 1;
    }

    .exhibits-item {
        align-items: center;
    }

    .exhibits-item img {
        max-height: 300px;
    }
    
    .exhibits-item__info {
        padding: 0px 30px;
    }

    .exhibits-item img {
        border-radius: 10px 0px 0px 10px;
    }

    .robotics img {
        border-radius: 0px 10px 10px 0px;
    }

    .robotics {
        flex-direction: row-reverse;
    }

    .visit-today__info {
        flex-direction: unset;
        justify-content: center;
    }

    .social-media {
        padding: 50px 0px;
        justify-content: center;
    }

}

@media (min-width: 900px) {

    header {
        grid-template-columns: 1fr auto;
        align-items: center;
        padding: 20px 0px 20px 20px;
    }

    header img {
        width: 150px;
    }

    header label {
        display: none;
    }

    nav {
        display: block;
        position: static;
        border-width: 2px 0px 2px 2px;
        border-style: solid;
        border-color: var(--clr-darkblue);
        border-radius: 10px 0px 0px 10px;
        box-shadow: 4px 2px 4px rgba(0, 16, 28, 0.5);
    }

    nav li {
        display: inline-block;
        font-size: 1rem;
        padding: 0px 15px;
    }

    footer {
        grid-template-columns: 1fr auto auto 1fr;
    }

    .footer-info {
        grid-column: 2;
    }

    .social-media {
        grid-column: -1/1;
    }

    .footer-bottom {
        grid-column: -1/1;
    }

    .upcoming {
        max-width: 900px;
    }

    .events {
        gap: 80px;
    }

}

@media (min-width: 1200px) {

    h1 {
        font-size: 3.8rem;
    }

    h2 {
        font-size: 2.4rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1.25rem;
    }

    footer p {
        font-size: 1rem;
    }

    nav li {
        font-size: 1.25rem;
    }

    footer li {
        font-size: 1rem;
    }

    header img {
        width: 200px;
    }

    section {
        padding: 200px 0px;
    }

    .home-image {
        min-height: 40vh;
    }

    .featured {
        max-width: 1000px;
    }

    .exhibits, .events, .visit-today__info {
        gap: 150px;
    }

}
