@import "../css/import/variables.css";
@import "../css/import/links.css";

 * {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    background: var(--clr-white);
    color: var(--clr-darkblue);
    font-family: var(--ff-body);
    font-size: 1rem;
    font-weight: 400;
}

h1, h2, h3, h4 {
    font-family: var(--ff-header);
    font-weight: 700;
}

h2, h3 {
    margin-bottom: 20px;
}

h1 {
    font-size: 3rem;
    line-height: 95%;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.25rem;
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.icon {
    width: 36px;
}

.logo-small {
    width: 74px;
}

.visually-hidden {
    border-width: 0;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

input {
    background: var(--clr-grey);
    border-radius: 5px;
    padding: 10px;
    border: 1px solid var(--clr-darkblue);
}

input:hover {
    box-shadow: 0px 1px 4px var(--clr-darkblue);
    transition-duration: 0.25s;
}

input:focus-visible {
    outline: none;
    box-shadow: 0px 1px 4px var(--clr-darkblue);
    background: #fff;
}

section {
    padding: 100px 0px;
}

.wrapper {
    margin: auto;
    max-width: 80%;
}

.container, .split {
    display: flex;
    flex-direction: column;
}

.exhibits, .events {
    gap: 50px;
}

.exhibits-item {
    background: var(--clr-white);
    box-shadow: 0px 4px 4px rgba(24, 123, 117, 0.25);
    gap: 30px;
    max-width: 1200px;
}

.exhibits-item, .events-item {
    border-radius: 10px;
}

.exhibits-item:hover {
    box-shadow: 0px 4px 4px var(--clr-exhibits);
}

.exhibits-item a {
    color: var(--clr-darkblue);
}

.exhibits-item img, .events-item img {
    border-radius: 10px 10px 0px 0px;
}
.exhibits-item__info {
    padding: 0px 30px 30px;
}

.exhibits-item__info h3 {
    color: var(--clr-exhibits);
}

.robotics {
    background: var(--clr-exhibits);
}

.robotics h3, .robotics p, .events-item__info p {
    color: var(--clr-white);
}

.events-item {
    color: var(--clr-white);
    min-height: 400px;
}

.events-item__info {
    padding: 20px 30px 30px;
}

.events-item__info h3 {
    color: var(--clr-events-light);
}

.night {
    background: #2C1C13;
}

.night:hover {
    box-shadow: 0px 4px 4px #2C1C13;
}

.aeronautics {
    background: #101012;
}

.aeronautics:hover {
    box-shadow: 0px 4px 4px #101012;
}




/* HEADER */
header {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: sticky;
    top: 0px;
    z-index: 1000;
    background: var(--clr-white);
}

header img {
    width: 100px;
}

/* NAVIGATION */
#nav-checkbox, nav {
    display: none;
}

#nav-checkbox:checked ~ nav, nav li {
    display: block;
}

nav li {
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: capitalize;
    padding: 15px;
}

nav {
    background: var(--clr-white);
    top: 93px;
    right: 0px;
    padding: 20px;
    z-index: 1000;
    position: fixed;
    display: none;
    border-radius: 0px 0px 0px 20px;
}

/* FOOTER */

footer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
    padding-top: 100px;
    text-align: center;
}

.social-media {
    background: var(--clr-darkblue);
    padding: 30px 0px;
    color: var(--clr-white);
}

.social-media, .hours, .location {
    align-items: center;
}

.social-media, .social-media__icons, .hours, .location, .subscribe {
    gap: 20px;
}

.social-media__icons {
    display: flex;
    justify-content: center;
}

.footer-info {
    gap: 50px;
}

.subscribe {
    max-width: 300px;
}

.subscribe-form {
    width: 100%;
    align-items: unset;
}

.subscribe-form, .footer-bottom {
    gap: 10px;
}

footer li {
    display: inline-block;
    font-size: 0.8em;
    font-weight: 500;
    text-transform: capitalize;
    padding: 0px 8px;
}

.copy {
    font-weight: 300;
    font-size: 0.7rem;
}

/*  VISIT PAGE */