@import "../css/import/variables.css";
@import "../css/import/links.css";

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
html:focus-within {
    scroll-behavior: smooth;
  } 

/* General styling */

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    background: var(--clr-white);
    color: var(--clr-darkblue);
    font-family: var(--ff-body);
    font-size: var(--fs-body);
    font-weight: var(--fw-regular);
}

img, picture, svg {
    display: block;
    width: 100%;
}

img {
    object-fit: cover;
}

.icon {
    width: 36px;
}

.logo-small {
    width: 74px;
}
    
input, button, textarea, select {
    font: inherit;
}

input, select, textarea {
    background: var(--clr-grey);
    border-radius: 5px;
    padding: var(--size-100);
    border: 1px solid var(--clr-darkblue);
    font-size: var(--fs-300);
}

input:hover, select:hover, textarea:hover {
    box-shadow: 0px 1px 4px var(--clr-darkblue);
    transition-duration: 0.25s;
}

input:focus-visible, select:focus-visible, textarea:focus-visible {
    outline: none;
    box-shadow: 0px 1px 4px var(--clr-darkblue);
    background: #fff;
}

.visually-hidden {
    border-width: 0;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

section, article {
    margin-block: var(--size-400);
}

.container {
    margin-inline: auto;
    max-width: 80%;
}

.flex, .split-reverse, .split {
    display: flex;
}

.flex, .split {
    flex-direction: column;
}

.split-reverse {
    flex-direction: column-reverse;
}

.even-columns {
    display: grid;
    grid-auto-flow: row;
}

.primary-heading, .secondary-heading, .third-heading, .fourth-heading {
    font-family: var(--ff-heading);
}

.primary-heading {
    font-size: var(--fs-primary-heading);
    line-height: 95%;
}

.secondary-heading {
    font-size: var(--fs-secondary-heading);
}

.third-heading {
    font-size: var(--fs-third-heading);
}

.fourth-heading {
    font-size: var(--fs-300);
}

.highlight {
    font-weight: var(--fw-bold);
}

.intro {
    position: relative;
    border-bottom: 10px solid;
    padding: 0px;
    margin: 100px auto;
}

.intro h1 {
    bottom: -6px;
    position: absolute;
}

/* HEADER */
header {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    align-items: center;
    padding: var(--size-200); 
    position: sticky;
    top: 0px;
    z-index: 1000; 
    background: var(--clr-white);
}

header img {
    width: var(--size-700);
}

/* NAVIGATION */
#nav-checkbox, nav {
    display: none;
}

#nav-checkbox:checked ~ nav, nav li {
    display: block;
}

nav li {
    font-size: var(--fs-nav);
    font-weight: var(--fw-bold);
    text-transform: uppercase;
    padding: 15px;
}

nav {
    background: var(--clr-white);
    top: 93px;
    right: 0px;
    padding: var(--size-200);
    z-index: 1000;
    position: fixed;
    display: none;
    border-radius: 0px 0px 0px 20px;
}

/* FOOTER */

footer {
    text-align: center;
    font-size: var(--fs-300);
}

.social-media {
    background: var(--clr-darkblue);
    color: var(--clr-white);
    padding: var(--size-300);
}

.footer-info {
    justify-items: center;
    gap: var(--size-400);
    margin-block: 0px;
}

.social-media, .hours, .location {
    align-items: center;
}

.social-media, .social-media__icons, .hours, .location, .subscribe {
    gap: var(--size-200);
} 

.social-media__icons {
    display: flex;
    justify-content: center;
}

.subscribe {
    max-width: 300px;
}

.subscribe-form, .footer-bottom {
    gap: var(--size-100);
}

.footer-bottom {
    margin-bottom: 0px;
}

footer li {
    display: inline-block;
    font-size: var(--fs-200);
    font-weight: var(--fw-semi-bold);
    text-transform: capitalize;
    padding: 0px 8px;
}

.copy {
    font-weight: var(--fw-thin);
    font-size: var(--fs-100);
}

/* Exhibits */
.exhibits h2, #cosmology h3, #ecology h3 {
    color: var(--clr-exhibits);
}

#robotics h3, #robotics p {
    color: var(--clr-white);
}

#robotics {
    background: var(--clr-exhibits);
}

.exhibits-item {
    gap: var(--size-200);
    border-radius: var(--size-100);
    background: var(--clr-white);
    box-shadow: 0px 0px 10px rgba(0, 16, 28, 0.25);
    align-items: center;
}

.exhibits-item, .events-item {
    margin-block: var(--size-300);
}

.exhibits-item:hover {
    box-shadow: 0px 0px 10px var(--clr-darkblue);
}

.exhibits-item__content {
    padding: var(--size-200);
    gap: var(--size-100);
}

.exhibits-item img {
    border-radius: 10px 10px 0px 0px;
    max-height: 400px;
}   

/* Events */
.events h2 {
    color: var(--clr-events);
}

.events__wrapper {
    margin-top: var(--size-300);
}
.events__wrapper, .events-item {
    align-items: center;
}

.events-item {
    gap: var(--size-600);
}

.events__wrapper {
    gap: var(--size-400);
}

.events-item__content {
    gap: var(--size-100);
}

.events-item__image {
    padding-inline: var(--size-200);
    text-align: -moz-center;
}

.events-item img {
    max-width: 400px;
}

#night h3 {
    color: var(--clr-night);
}

#aeronautics h3 {
    color: var(--clr-aeronautics);
}

#night img {
    transform: rotate(-10deg);
    box-shadow: -15px 15px 0px var(--clr-night);
}

#aeronautics img {
    transform: rotate(10deg);
    box-shadow: 15px 15px 0px var(--clr-aeronautics);
}