@import "../css/import/variables.css";
@import "../css/import/links.css";

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img, picture, svg {
    display: block;
    width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

/* General styling */

.big-heading {
    font-family: var(--ff-heading);
    font-size: var(--fs-300);
    font-weight: var(--fw-700);
    line-height: 95%;
}

.medium-heading {
    font-family: var(--ff-heading);
    font-size: var(--fs-200);
    font-weight: var(--fw-700);
}

.small-heading {
    font-family: var(--ff-heading);
    font-size: var(--fs-125);
    font-weight: var(--fw-700);
}

.smallest-heading {
    font-family: var(--ff-body);
    font-size: var(--fs-100);
    font-weight: var(--fw-700);
}

.footer-heading {
    font-family: var(--ff-heading);
    font-size: var(--fs-100);
    font-weight: var(--fw-700);
}

.strong-text {
    font-family: var(--fw-700);
    text-transform: capitalize;
}

.highlight {
    font-weight: var(--fw-700);
}

img {
    object-fit: cover;
}

.icon {
    width: 36px;
}

.logo-small {
    width: 74px;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    background: var(--clr-white);
    color: var(--clr-darkblue);
    font-family: var(--ff-body);
    font-size: var(--fs-100);
    font-weight: var(--fw-400);
}

input, select, textarea {
    background: var(--clr-grey);
    border-radius: 5px;
    padding: 10px;
    border: 1px solid var(--clr-darkblue);
}

input:hover, select:hover, textarea:hover {
    box-shadow: 0px 1px 4px var(--clr-darkblue);
    transition-duration: 0.25s;
}

input:focus-visible, select:focus-visible, textarea:focus-visible {
    outline: none;
    box-shadow: 0px 1px 4px var(--clr-darkblue);
    background: #fff;
}

.visually-hidden {
    border-width: 0;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

section, article {
    margin-block: var(--space-50);
}

.container {
    margin-inline: auto;
    max-width: 80%;
}

.flex, .split {
    display: flex;
}

.flex {
    flex-direction: column;
}

.split {
    flex-direction: column-reverse;
}

.even-columns {
    display: grid;
    grid-auto-flow: row;
}

.padding-10 {
    padding: var(--space-10);
}

.padding-20 {
    padding: var(--space-20);
}

.padding-30 {
    padding: var(--space-30);
}

.gap-20 {
    gap: var(--space-20);
}

.gap-30 {
    gap: var(--space-30);
}

.gap-50 {
    gap: var(--space-50);
}

.intro {
    position: relative;
    border-bottom: 10px solid;
    padding: 0px;
    margin: 100px auto;
}

.intro h1 {
    bottom: -6px;
    position: absolute;
}

/* Exhibits */
.exhibits h2, #cosmology h3, #ecology h3 {
    color: var(--clr-exhibits);
}

#robotics h3, #robotics p {
    color: var(--clr-white);
}

#robotics {
    background: var(--clr-exhibits);
}

.exhibits-item {
    gap: var(--space-20);
    border-radius: var(--space-10);
    background: var(--clr-white);
    box-shadow: 0px 0px 10px rgba(0, 16, 28, 0.25);
    align-items: center;
}

.exhibits-item:hover {
    box-shadow: 0px 0px 10px var(--clr-darkblue);
}

.exhibits-item__info {
    padding: var(--space-20);
    gap: var(--space-10);
}

.exhibits-item img {
    border-radius: 10px 10px 0px 0px;
    max-height: 400px;
}   


/* Events */
.events h2 {
    color: var(--clr-events);
}

.events__wrapper, .events-item {
    align-items: center;
}

.events-item, .events__wrapper {
    gap: var(--space-50);
}

.events-item__info {
    gap: var(--space-10);
}

.events-item__image {
    padding-inline: var(--space-20);
    text-align: -moz-center;
}

.events-item img {
    max-width: 400px;
}

#night h3 {
    color: var(--clr-night);
}

#aeronautics h3 {
    color: var(--clr-aeronautics);
}

#night img {
    transform: rotate(-10deg);
    box-shadow: -15px -15px 0px var(--clr-night);
}

#aeronautics img {
    transform: rotate(10deg);
    box-shadow: 15px 15px 0px var(--clr-aeronautics);
}


/* HEADER */
header {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    align-items: center;
    padding: 20px; 
    position: sticky;
    top: 0px;
    z-index: 1000; 
    background: var(--clr-white);
}

header img {
    width: 100px;
}

/* NAVIGATION */
#nav-checkbox, nav {
    display: none;
}

#nav-checkbox:checked ~ nav, nav li {
    display: block;
}

nav li {
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: capitalize;
    padding: 15px;
}

nav {
    background: var(--clr-white);
    top: 93px;
    right: 0px;
    padding: 20px;
    z-index: 1000;
    position: fixed;
    display: none;
    border-radius: 0px 0px 0px 20px;
}

/* FOOTER */

footer {
    text-align: center;
}

.social-media {
    background: var(--clr-darkblue);
    color: var(--clr-white);
    flex-direction: column;
    padding: var(--space-30);
}

.footer-info {
    justify-items: center;
    gap: var(--space-30);
}

.social-media, .hours, .location {
    align-items: center;
}

.social-media, .social-media__icons, .hours, .location {
    gap: var(--space-20);
} 

.social-media__icons {
    display: flex;
    justify-content: center;
}

.subscribe {
    max-width: 300px;
}

.subscribe, .subscribe-form, .footer-bottom {
    gap: var(--space-10);
}

.footer-bottom {
    margin-bottom: 0px;
}

footer li {
    display: inline-block;
    font-size: var(--fs-80);
    font-weight: var(--fw-500);
    text-transform: capitalize;
    padding: 0px 8px;
}

.copy {
    font-weight: var(--fw-300);
    font-size: var(--fs-70);
}