/*  VISIT PAGE */

.visit-heading {
    text-shadow: 4px 4px 4px rgba(139, 109, 217, 0.25);
    filter: drop-shadow(4px 4px 4px rgba(139, 109, 217, 0.25));
}

.visit-heading, .visit h2, .explore h2, .shop-dine h2, .shop-dine h3, .tours h2 {
    color: var(--clr-visit);
}

.visit {
    align-items: center;
}

.visit-wrapper {
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 16, 28, 0.25);
    border-radius: 2px;
    padding-block: var(--space-30);
    justify-items: center;
    gap: var(--space-30);
    max-width: 800px;
}

.admission, .explore-item__wrapper, .shop-dine__item  {
    align-items: center;
}

.admission, .shop-dine__item {
    gap: var(--space-20);
}

.explore-item {
    padding-block: var(--space-50);
    margin-block: var(--space-30);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.explore-item__wrapper {
    gap: var(--space-30);
}

.explore-item__info, .shop-dine__info {
    gap: var(--space-10);
    padding: var(--space-20);
}

.explore-item__image {
    text-align: -moz-center;
}

.explore-item img {
    border-radius: 50%;
    max-width: 350px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.kids {
    background: rgba(139, 109, 217, 0.51);
}

.kids h3 {
    color: #4C3C75;
}

.family {
    background: var(--clr-get-involved);
}

.family h3 {
    color: #243939;
}

.teachers {
    background: rgba(64, 27, 8, 0.66);
    color: var(--clr-white);
}

.teachers h3 {
    color: #312723;
}

.shop-dine__wrapper {
    flex-direction: column;
    gap: var(--space-30);
    align-items: center;
    margin-top: var(--space-30);
}

.shop-dine__item {
    flex-direction: column-reverse;
    justify-content: flex-end;
    max-width: 400px;
}

.shop-dine__item img {
    border-radius: 10px;
}

.shop-dine_image {
    text-align: -moz-center;
}

.tours__wrapper {
    background: var(--clr-white);
    box-shadow: 0px 4px 10px var(--clr-visit);
    border-radius: 2px;
    padding: var(--space-30);
    gap: var(--space-10);
}

.accessibility {
    background: url(../images/braille_display.jpg);
    background-size: cover;
    background-position: center;
    min-height: 40vh;
    color: var(--clr-white);
    justify-content: center;
}

.accessibility__wrapper { 
    max-width: 420px;
    background-color: #000;
    opacity: 0.8;
    padding: var(--space-20);
    gap: var(--space-10);
}  