/*  VISIT PAGE */

.visit-heading {
    color: var(--clr-visit);
    text-shadow: 4px 4px 4px rgba(57, 50, 77, 0.25);
    filter: drop-shadow(4px 4px 4px rgba(57, 50, 77, 0.25));
}

.visit-info {
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 16, 28, 0.25);
    border-radius: 2px;
    padding: 30px 0px;
    margin: 150px auto 100px;
}

.visit-info, .explore-item, .shop-dine__item {
    align-items: center;
}

h2, .shop-dine__item h3 {
    color: var(--clr-visit);
    margin-bottom: 20px;
}

.admission {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 190px;
}

.admission, .tours {
    gap: 20px;
}

.explore h2 {
    max-width: 80%;
    margin: 0px auto 20px;
}

.explore-box {
    gap: 40px;
}

.explore-item {
    padding: 50px 10%;
    justify-content: space-evenly;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.visit-info, .explore-item, .explore-item__info, .shop-dine__item {
    gap: 30px;
}

.shop-dine__box {
    gap: 50px;
}

.explore-item > *, .shop-dine__box > *, .shop-dine__item > * {
    flex: 1;
}

.explore-item img {
    border-radius: 50%;
    max-width: 350px;
    max-height: 350px;  
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.explore-item__info {
    max-width: 400px;
}

.kids {
    background: rgba(139, 109, 217, 0.51);
}

.kids h3 {
    color: #39324D;
}

.family {
    background: var(--clr-get-involved);
}

.family h3 {
    color: #243939;
}

.teachers {
    background: rgba(64, 27, 8, 0.66);
    color: var(--clr-white);
}

.teachers h3 {
    color: #312723;
}

.shop-dine__item img {
    border-radius: 10px;
}

.tours {
    background: var(--clr-white);
    padding: 50px 20px;
    box-shadow: 0px 4px 10px var(--clr-visit);
    border-radius: 2px;
    margin: 100px auto;
}

.accessibility {
    background: url(../images/braille_display.jpg);
    background-size: cover;
    background-position: center;
    min-height: 40vh;
    position: relative;
    padding: 0px;
    margin: 200px auto 100px;
}

.accessibility h2, .accessibility p {
    color: var(--clr-white);
}

.accessibility-info {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 420px;
    background-color: #000;
    opacity: 0.8;
    padding: 20px;
}